# SPDX-FileCopyrightText: 2025 The Namecoin Project <www.namecoin.org>
#
# SPDX-License-Identifier: CC0-1.0

#go.mod
go.sum
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
lint-report.json

# Dependency directories (remove the comment below to include it)
# vendor/
